/** =================================category============================================= */
.z-home-box {
    background: #f4f5f5;
    min-height: 100vh;
}

.z-home-box .z-container .z-main-header {
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    height: 10rem;
    /*z-index: 250;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    width: 100%;
    transition: top 0.3s linear;
}

.z-home-box .z-container .z-main-header .z-nav-item {
    color: #515767;
    height: 5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    cursor: pointer;
    min-width: 61px;
}

.z-home-box .z-container .z-main-header .z-main-nav {
    height: 5rem;
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
}

.z-home-box .z-container .z-main-header .z-main-nav .z-phone-hide {
    display: flex; /* border: 1px solid #f00; */ /* width: 100%; */
    min-width: 40%;
    overflow-x: auto;
    overflow-y: hidden;
}

.z-home-box .z-container .z-main-header .z-main-nav .z-search-box {
    display: flex; /* border: 1px solid #f00; */ /* width: 100%; */
    min-width: 40%;
    overflow-x: auto;
    overflow-y: hidden;
}


.z-home-box .z-container .z-main-header .z-main-nav .z-search-box .zz-search-top {
    width: 90%;
    flex-grow: 1;
    -webkit-appearance: none;
    font-size: inherit;
    height: 32px;
    line-height: 32px;
    padding: 0;
    outline: 0;
    border: none;
    background: 0 0;
    box-sizing: border-box;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    padding: 0 5px;
}

.z-home-box .z-container .z-main-header .z-main-nav .login-box { /* margin-left: 20px; */
    display: flex;
    align-items: center;
}


.z-home-box .z-container .z-main-header .z-main-nav .login-box .zz-login-btn-top {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 32px;
    white-space: nowrap;
    cursor: pointer;
    background-color: #409eff;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    transition: 0.1s;
    border: #409eff;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    margin-right: 3px; /* width: 40px; */
}

.z-home-box .z-container .z-main-header .z-view-nav {
    margin: 0 auto;
    width: 100%;
    height: 3.833rem;
    max-width: 960px;
    z-index: 100;
    background: #fff;
    transition: top 0.3s linear;
    border-top: 0.5px solid #e5e6eb; /* border: 1px solid #f00; */
}

.z-home-box .z-container .z-main-header .z-view-nav .z-view-hide {
    height: 100%;
    margin: 0 auto; /* max-width: 960px; */
    display: flex; /* border: 1px solid #f00; overflow-x: auto; overflow-y: hidden; */
}

.z-home-box .z-container .z-main-header .z-view-nav .z-view-hide .z-view-item {
    color: #71777c;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    cursor: pointer;
    min-width: 66px;
}

.z-home-box .z-main-body-box {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
}

.z-home-box .z-main-body-box .z-timeline-index-view {
    padding-top: 1rem;
    overflow-y: auto;
    padding-bottom: 70px;
    width: 100%;
}

.z-timeline-index-view-zz {
    overflow-y: auto;
}

.z-home-box .z-main-body-box .z-timeline-second {
    background: #fff;
    box-sizing: border-box;
    padding: 0 10px;
}

.z-home-box .z-main-body-box .z-timeline-second .all-a {
    text-decoration: none;
}

.z-home-box .z-main-body-box .z-timeline-second .all-a .list-item {
    width: 100%;
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 1px solid #e5e6eb;
    cursor: pointer;
}

.z-home-box .z-main-body-box .z-timeline-second .all-a .list-item .list-item-title {
    font-weight: 700;
    font-size: 16px;
    color: #1d2129;
    margin-bottom: 8px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: auto;
    display: inline-block;
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.z-home-box .z-main-body-box .z-timeline-second .all-a .list-item .list-item-title .zz-tag{
    background-color: #ecf5ff;
    border-color: #d9ecff;
    color: #409eff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding: 0 9px;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 14px;
    margin-left: 5px;
}

.z-home-box .z-main-body-box .z-timeline-second .all-a .list-item .list-item-info {
    font-weight: 400;
    font-size: 13px;
    color: #86909c;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*======================top============================*/
.z-home-box .back-top {
    width: 40px;
    height: 40px;
    border: 1px solid #409eff;
    border-radius: 5px;
    background: #409eff;
    color: #fff;
    text-align: center;
    line-height: 40px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    cursor: pointer;
    z-index: 999999;
}

.z-home-box .z-info-box-z {
    display: none;
}

.z-home-box .zz-no-more {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0;
    background: #fff;
}
.list-item {
    width: 100%;
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 1px solid #e5e6eb;
    cursor: pointer;
}

.item-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid #f00; */
}

.left-box {
    width: 40px;
    height: 50px;
    margin-right: 10px;
    flex-shrink: 0;
}

.left-box img {
    width: 40px;
    height: 50px;
    border-radius: 5px;
}
.right-box{
    width: 100%;
}
