a {
    text-decoration: none;
}

.ErrorPage-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 180px;
}

.Button--primary.Button--blue {
    color: #fff;
    background-color: #056de8;
}

.Button--blue {
    color: #056de8;
    border-color: #056de8;
}

.Button{
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
}
